<div>
  <h1>REFERABLE</h1>
    <%= form_for(@user) do |f| %>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <br>
      <%= f.submit "REFERABLE", class: "btn" %>
      <% end %>
</div>